@import url("_variables.css");

.card {
    width: 652px;
    margin-bottom: 30px;
    display: flex;
    gap: 16px;
}

.card_content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.card_content-header {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 10px;
}

.card_content-header:hover {
    text-decoration: none;
}

.card_header-icon_container {
    height: 26px;
    width: 26px;
    border-radius: 100%;
}

.card_header-icon_container-image {
    height: 26px;
    width: 26px;
    border-radius: 100%;
}

.card_header-Content {
    display: flex;
    flex-direction: column;
}

.card_header-Content--header {
    font-size: 16px;
    line-height: 21px;
    color: var(--gray-default);
}

.card_header-Content--header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.card_header-Content--header--type {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 10px;
    color: var(--gray-default);
}

.card_header-icon_container--type {
    width: 5px;
    height: 5px;
    border-radius: 100%;
}

.type-community {
    background-color: var(--community);
}

.type-verified {
    background-color: var(--verified);
}

.type-unverified {
    background-color: var(--unverified);
}

.card_header-Content--content {
    display: flex;
    font-size: 12px;
    line-height: 12px;
    color: var(--gray-default);
    min-width: 50px;
}

.card_header-title {
    font-size: 22px;
    line-height: 32px;
    text-decoration: none;
}

.card_header-description {
    font-size: 14px;
    line-height: 21px;
    color: var(--gray-default);
}

.card_image_container {
    border-radius: 8px;
    width: 80px;
    height: 115px;
}

.card_image_container-image {
    border-radius: 8px;
    width: 80px;
    height: 115px;
}
