@import url("_variables.css");

.card {
    width: 652px;
    margin-bottom: 30px;
    display: flex;
    gap: 16px;
}

.card_content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.card_content-header {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 10px;
}

.card_content-header:hover {
    text-decoration: none;
}

.card_header-icon_container {
    height: 26px;
    width: 26px;
    border-radius: 100%;
}

.card_header-icon_container-image {
    height: 26px;
    width: 26px;
    border-radius: 100%;
}

.card_header-Content {
    display: flex;
    flex-direction: column;
}

.card_header-Content--header {
    font-size: 16px;
    line-height: 21px;
    color: var(--gray-default);
}

.card_header-Content--content {
    display: flex;
    font-size: 12px;
    line-height: 12px;
    color: var(--gray-default);
    min-width: 50px;
}

.card_header-title {
    font-size: 22px;
    line-height: 32px;
    text-decoration: none;
}

.card_header-description {
    font-size: 14px;
    line-height: 21px;
    color: var(--gray-default);
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
}

.card_description--type {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 12px;
    color: var(--gray-default);
}

.card_description--type--icon {
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.type-community {
    background-color: var(--community);
    filter: drop-shadow(0 0 0.4em var(--community));
}

.type-verified {
    background-color: var(--verified);
    filter: drop-shadow(0 0 0.4em var(--verified));
}

.type-unverified {
    background-color: var(--unverified);
    filter: drop-shadow(0 0 0.4em var(--unverified));
}

.card_image_container {
    border-radius: 8px;
    width: 80px;
    height: 115px;
}

.card_image_container-image {
    border-radius: 8px;
    width: 80px;
    height: 115px;
}
