:root {
    --gray-default: #3c4043;
    --background-default: #fff;
    --text-color-default: #1a1a1a;
    --extension-color: #f3b700;
}

@media (prefers-color-scheme: dark) {
    :root {
        --gray-default: #bcc0c3;
        --background-default: #1a1a1a;
        --text-color-default: #fff;
    }
}
